html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}


    /* --- Game/tile related --- */

#Container {
    margin: 10px;
}

.lineContainer {
    height: 100px;
    margin: 4px;
}

.tile {
    display: inline-block;
    position: relative;
    width: 100px;
    height: 100px;
    transition-timing-function: ease;
    transition-duration: 0.5s;
	transform-style: preserve-3d;
    margin: 0 2px;
}

.frontTile, .backTile {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-width: 100px;
    max-height: 100px;
    backface-visibility: hidden;
}

.frontTile {
    transform: rotateY(180deg);
}

.backTile:hover {
    border: 1px solid gray;
}

.showTile {
    transform: rotateY(180deg);
}

@keyframes correct {
    33% {
        transform: rotateY(180deg) translate(5px);
    }

    66% {
        transform: rotateY(180deg) translate(-5px);
    }

    100% {
        transform: rotateY(180deg) translate(0px);
    }
}

.correctGuess {
    animation: correct;
    animation-delay: 0.3s;  /* wait for the tile flip animation to end first */
    animation-timing-function: ease;
    animation-duration: 0.3s;
}


    /* --- Message --- */

#MessageContainer {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    top: 10px;
}

.message {
    background-color: black;
    color: white;
    padding: 5px 20px;
}


    /* --- Dialog --- */

.hidden {
    display: none;
}

#Dialog {
    background-color: white;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 10px 3px black;
    border-radius: 2px;
    padding: 2px;
    min-width: 150px;
}

#DialogTitle {
    background-color: rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
    font-size: 110%;
    font-weight: bold;
}

#DialogBody {
    margin: 20px;
}

#DialogRestart {
    margin: 5px;
}

#Dialog hr {
    opacity: 0.5;
}

#DialogOverlay {
    background-color: rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}


    /* --- Menu --- */

#Menu {
    margin-bottom: 10px;
}

#Menu input, #Menu button {
    vertical-align: middle;
}